{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Book - Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">


</head>

<body>
    <section class="home-outer">
        <div class="home-inner">
            <div class="logo">
                <img src="../static/images/logo.jpg" alt="">
            </div>

            <div class="icons">
                <div class="icons-bg">
                    <a href="{% url 'contact:register' %}"><img src="../static/images/add-icon.png" alt=""></a>
                    <a href="{% url 'contact:viewall' %}"><img src="../static/images/view-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>